.habitList {
  padding-left: 55px;
  padding-right: 55px;
  max-width: 800px;
  margin: 0 auto;
}

.buttonMargin {
  margin-left: 15px;
}

.flex {
  display: flex;
}
.modal_title {
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  margin-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.modal_text {
  font-size: 1.3rem;
  margin-bottom: 16px;
}
