/*——————————————————————
Common
——————————————————————*/

.fl_start {
  display: flex;
  justify-content: flex-start;
}
.fl_end {
  display: flex;
  justify-content: flex-end;
}
.fl_center {
  display: flex;
  justify-content: center;
}
.fl_spaceBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fl_alignStart {
  display: flex;
  align-items: flex-start;
}
.fl_alignEnd {
  display: flex;
  align-items: flex-end;
}
.fl_alignCenter {
  display: flex;
  align-items: center;
}

/*——————————————————————
Top
——————————————————————*/
.headerCalender {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  overflow-x: auto;
}
.headerCalender_item {
  background-color: #eee;
  margin: 0 0.8rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
.headerCalender_day {
  display: block;
}
.headerCalender_date {
  display: block;
}

.habitList {
}
.habitList_item {
  padding: 1.6rem;
}
.habitList_item:not(:first-child) {
  border-top: 2px solid #eee;
}
.habitList_btn {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.2rem solid #eee;
}
.habitList_btn_check {
  font-size: 3rem;
  color: #62d13b;
  opacity: 0;
  transition: all 0.2s;
}
.habitList_btn_check.js_done {
  opacity: 1;
}
.habitList_body {
  margin-left: 1.6rem;
}
.habitList_content {
  font-weight: bold;
}
.habitList_numberOfAchievementDays {
  font-size: 1rem;
  font-weight: bold;
  color: #b4b4b4;
  margin-top: 0.4rem;
}
